<div class="main">
</div>


<script type="text/javascript">
  $(document).ready(function(){
    Shuttr.CURRENT_USER = {
      id: "<%= current_user.id %>",
      email: "<%= current_user.id %>",
      };
    Shuttr.initialize();
  });
</script>
