  <input type="text" id="autocomplete" name="map-search" class="form-control" value="">
  <button class="toggleHeatmap btn btn-primary" name="toggle-heat-map">Toggle Heat Map</button>
<div id="map-wrapper" class="map-container"></div>
<div class="photo-gutter"></div>
