.new-comment-form textarea {
  width: 100%;
}
//
// .comment-index {
//   background-color: white;
//   margin: 0 10px;
//
//   h4 {
//     background-color: white;
//     margin: 0 10px;
//   }
// }
//
// .new-comment-form {
//   background-color: white;
//   margin: 0 10px;
// }

form.login-form {
  padding-bottom: 15px;
}

p.comment-item-author {
  // right: 0;
  // float:right;
}

p.comment-item-body {
  // left:0;
  // float:left;
  // position: absolute;
}

button.delete-comment {
  float: right;
}
