#map-canvas {
  width: 100%;
  height: 600px;
}

html, body {
  height: 100%;
}

.container, .main{
  margin: 0;
  padding: 0;
  height: 100%;
}

.map {
  height: 100%;
}

.photo-gutter {
  height: 20%;
  width: 100%;
}
