#map-canvas {
  width: 100%;
  height: 100%;
}

html, body {
  height: 100%;
}

.main {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

div.container {
  width: 80%;
  height: 80%;
}

div.map {
  position: fixed;
  left: 50%;
  width: 80%;
  transform: translate(-50%);
  height: calc(100% - 71px);
}

.map-container {
  height: 100%;
  width: 100%;
}

#map-wrapper {
  height: 80%;
}

.photo-gutter {
  margin-top: 10px;
  height: 20%;
  max-height: 100px;
  width: 100%;
  display: block;
  overflow: hidden;
  white-space: nowrap;
}

.gutter-item:first-child {
  margin-left: 0px;
}

.gutter-item {
  margin-left: 10px;
  height: 95px;
  display: inline;
}

.gutter-item a {
  width: inherit;
  height: inherit;
}

.gutter-item img {
  width: inherit;
  height: inherit;
}

// GETS RID OF INFO WINDOW CLOSE BUTTON
// .gm-style-iw + div {
//   display: none;
// }

#info-window-content .iw-title {
  margin:5px;
  padding:0;
  border:thin solid red;
  border-radius: 10px;
 }

button.toggleHeatmap {
  position: absolute;
  top: 9px;
  right: 7px;
  z-index: 500;
 }

input#autocomplete {
  position: absolute;
  z-index: 500;
  top: 9px;
  width: 250px;
  left: 110px;
 }
