// Place all the styles related to the api/photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.clearfix:before, .clearfix:after { content: ""; display: table; margin: 0; padding: 0}
.clearfix:after { clear: both; }
.clearfix { zoom: 1; margin: 0; padding: 0}

.grid {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
  clear: both;
}

.col1 { width: 80px; }
.col2 { width: 180px; }
.col3 { width: 280px; }
.col4 { width: 380px; }
.col5 { width: 480px; }

.col1 img { max-width: 80px; }
.col2 img { max-width: 180px; }
.col3 img { max-width: 280px; }
.col4 img { max-width: 380px; }
.col5 img { max-width: 480px; }

.grid-sizer,
.grid-item {
  width: 30.33%;
}


.grid-item {
  display: block;
  // float: left;
  overflow: hidden;
  border: 2px solid gray;
}

.grid-item img {
  display: block;
  max-width: 100%;
}

.grid .photo-title {
  display: none;
}
