<div class="comment-item">
  <% if (Shuttr.CURRENT_USER.id === comment.escape("user_id")) { %>
    <button type="button"
            class="close delete-comment glyphicon glyphicon-trash"
            data-id="<%= comment.id %>">
    </button>
  <% } %>
  <span class="comment-item-author">
    <%= comment.escape("author_name") %>:
  </span><br>
  <span class="comment-item-body">
    <%= comment.escape("body") %>
  </span>

</div>
