<div class="comment-item">
  <p class="comment-item-author">
    <%= comment.escape("author_name") %>:
  </p>
  <% if (Shuttr.CURRENT_USER.id === comment.escape("user_id")) { %>
    <button type="button"
            class="delete-comment"
            data-id="<%= comment.id %>"
            >Delete</button>
  <% } %>
  <p class="comment-item-body">
    <%= comment.escape("body") %>
  </p>

</div>
