<div class="new-comment-form-wrapper">
  <form class="new-comment-form" action="index.html" method="post">
    <textarea name="comment[body]"
              rows="2"
              style="resize: none"
              placeholder="Type comment here..."
              ></textarea><br>
    <input class="post-comment-btn btn primary-btn" type="submit" value="Post Comment">
  </form>
</div>
