
<h2>Explore</h2>

  <div class="photos grid transitions-enabled infinite-scroll clearfix"
  id="grid" data-columns>
    <div class="box col3"></div>
    <div class="box col1"></div>
    <div class="box col2"></div>
    <div class="box col4"></div>
    <div class="box col5"></div>

  </div>
</div>
