<h2>Explore</h2>
<div class="container-fluid">

  <div class="photos grid" id="grid" data-columns>
    <div class="column size-1of3"></div>
      <div class="column size-1of3"></div>
        <div class="column size-1of3"></div>
  </div>
</div>
