<div class="prev-image"><i class="fa fa-angle-left"><</i></div>
<div class="next-image"><i class="fa fa-angle-right">></i></div>
<div class="close close-gallery-modal">&times;</div>

<div class="active-image">
  <img src="<%= photo.escape('url') %>">
</div>
<div class="large-modal-bg"></div>
