<h2>Upload Picture</h2>


<form class="" action="index.html" method="post">

  <label for="photo-title">Title:</label><br>
  <input type="text"
         id="photo-title"
         name="photo[title]"
         class="photo-title"
         value=""><br>

  <label for="photo-desc">Description:</label><br>
  <textarea id="photo-desc"
            name="photo[description]"
            class="photo-desc"
            rows="4" cols="20"
            ></textarea><br>

  <input type="submit" value="Upload">
</form>
