<div class="m-background"></div>
<div class="m-content upload-form-map-container col-md-8-offset-2">
  <button class="close">&times;</button>
  <h2 class="upload-form-heading">Upload Picture</h2>

  <div class="photo-saved">
    <img src="http://res.cloudinary.com/dydhzgrty/image/upload/c_scale,w_125/v1440699706/Shuttr/checkmark.png"/>
    <br>
    Photo Saved!
  </div>

  <div class="upload-form-wrapper">
    <form class="upload-form" action="index.html" method="post">

      <label for="photo-title">Title:</label><br>
      <input type="text" name="photo[title]" id="photo-title" value=""><br><br>
      <label >Select Location (optional): </label><br>

      <div class="formpage-map"
           id="formpage-map-canvas">
      </div>

      <br><br>

      <input type="submit" class="btn btn-primary new-photo-submit centered" value="Select File and Upload">
    </form>
  </div>
</div>
