<div class="photo-container grid-item">
    <!-- <a href="/#photos/<%= photo.id %>"> -->
    <a href="javascript:void(0)">
      <img data-id="<%= photo.id %>"
           src="<%= photo.escape("url") %>"
           alt="photo-thumbnail"/>
    </a>
    <p class="photo-title">
      <span class="span-photo-title">
        <%= photo.escape("title") %>
      </span>
      <span class="span-photo-button">
      <% if (inMyPhotos) { %>
          <button class="close delete-photo glyphicon glyphicon-trash"></button>
      <% } else { %>
          <button class="close add-to-album glyphicon glyphicon-plus-sign"></button>
      <% } %>
      </span>
    </p>
</div>
