<div class="photo-container grid-item">
  <div class="photo-img">
    <a href="<%= "#photos/" + photo.id %>">
      <img src="<%= photo.escape("url") %>" alt="photo-thumbnail"/>
    </a>
  </div>
  <div class="photo-title">
    <%= photo.escape("title") %>
  </div>
</div>
