<div class="photo-container grid-item">
    <a href="<%= "#photos/" + photo.id %>">
      <img src="<%= photo.escape("url") %>" alt="photo-thumbnail"/>
    </a>
    <p class="photo-title">
      <%= photo.escape("title") %>
    </p>
</div>
