<div class="photo_img">
  <img src="<%= photo.escape("url") %>"/>
</div>
<div class="photo_title">
  <%= photo.escape("title") %>
</div>
<div class="comment-index">

</div>
<div class="new-comment-form">

</div>
