<div class="m-background">
</div>
<div class="photo-show-content col-md-2-offset-5">
  <button class="close close-photo-show">&times;</button>
  <div class="photo-show-img">
    <img src="<%= photo.escape("url") %>"/>
  </div>

  <div class="photo-info">
    <div class="photo-show-title">
      <%= photo.escape("title") %>
    </div>

    <div class="comment-index"></div>
    <div class="new-comment-form"></div>
  </div>
</div>
