<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">

      <a class="navbar-brand" href="#">Shuttr</a>

      <button type="button" class="navbar-toggle collapsed"
              data-toggle="collapse"
              data-target="#collapse-menu"
              aria-expanded="false">
      </button>
    </div>

    <div class="collapse navbar-collapse" id="collapse-menu">
      <ul class="nav navbar-nav navbar-left">
        <li><a href="#">Explore</a></li>
        <li><a href="#map">Map</a></li>
        <li>
          <a class="create-photo-btn"
               href="javascript:void(0)">Create</a>
        </li>
      </ul>

      <ul class="nav navbar-nav pull-right">
        <li>
          <form class="navbar-form navbar-right" role="search">
              <input type="text" class="form-control" placeholder="Search">
              <a href="javascript:void(0)"
                 class="btn btn-default glyphicon glyphicon-search"></a>
          </form>
        </li>

        <li>
          <a href="#" data-toggle="dropdown" class="dropdown-toggle">
            <%= Shuttr.CURRENT_USER.name %>
            <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#albums">My Albums</a></li>
            <li><a href="#photos">My Photos</a></li>
            <li><a class="sign-out-link"
                   href="javascript:void(0)"
                   >Sign Out</a></li>
          </ul>
        </li>
      </ul>
    </div>

  </div>
</nav>
