

 @import "bootstrap-sprockets";
 @import "bootstrap";

.navbar-brand {
  font-weight: 900;
  font-size: 30px;
}

h1, h2, h3, h4 {
  text-align: center;
}

.main, body {
  height: 100%;
  width: 100%;
  background-color: white !important;
}
