.nav-login-form {
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border: none;
	height: 100%;
	display: block;
	top: 73.5px;
}

.container-fluid {
  padding-right: 0px !important;
}

.collapse.navbar-collapse {
  padding-right: 15px !important;
}

.navbar.navbar-default {
  border-radius: 0px;
  border: none;
  border-bottom: 1px solid transparent;
}

.error-ul {
	padding-left: 0;
}

.error-li {
	text-align: center;
  display: block;
  margin-top: -20px;
  background-color: rgb(232, 78, 78);
  color: black;
}
