<h2>New Album</h2>

<form class="new_album">
  <label for="album_title">Title</label>
  <input type="text" name="album[title]" id="album_title">

  <input type="submit" value="Create Album!">
</form>

<a href="#">Back to Album Index</a>
