<div class="new-album-form">
  <h2>New Album</h2>

  <div class="form-group">
    <form class="new_album">
      <label for="album_title">Title</label>
      <input type="text" class="album-title form-control" name="album[title]" id="album_title">

      <br>

      <button class="create-album-btn btn btn-primary">Create Album!</button>
    </form>
  </div>

  <a href="#albums">Back to Album Index</a>
</div>

<div class="m-background"></div>
