<div class="page-header">
  <h2>Albums</h2>
</div>

<a href="javascript:void(0)"
   class="new-album-button close"
   >New Album</a>

<div class="albums album-grid transitions-enabled infinite-scroll clearfix centered">
</div>
