<a href="<%= "#albums/" + album.id %>" >
  <%= album.escape("title") %>
  <img src="<%= album.escape("url") %>" alt="album-thumbnail"/>
</a>

<button type="button"
        class="delete_album"
        data-id="<%= album.id %>"
        >Delete</button>
