<div class="page-header">
  <h2>Albums</h2>
</div>

<div class="albums album-grid transitions-enabled infinite-scroll clearfix centered">
  <div class="box col1"></div>
  <div class="box col2"></div>
  <div class="box col3"></div>
  <div class="box col4"></div>
  <div class="box col5"></div>
  <div class="box col6"></div>
  <div class="box col7"></div>
</div>

<a href="#albums/new">New Album</a>
