  <a href="<%= "#albums/" + album.id %>" >
    <img src="<%= album.escape("url") %>" alt="album-thumbnail"/>
  </a>
  <p class="album-title">
    <%= album.escape("title") %>
    <button class="close delete-album glyphicon glyphicon-trash"></button>
  </p>
