<div class="album-grid-item album-container">
  <a href="<%= "#albums/" + album.id %>" >
    <img src="<%= album.escape("url") %>" alt="album-thumbnail"/>
  </a>
  <p class="album-title">
    <%= album.escape("title") %>
  </p>
</div>

  <!-- <button type="button"
          class="delete_album"
          data-id="<%= album.id %>"
          >Delete</button> -->
