<div class="page-header"><h2><%= album.escape("title") %></h2></div>
<a class="close back-to-album" href="#albums">Back to My Albums</a>

<div class="photos grid transitions-enabled infinite-scroll clearfix centered">
</div>

<br><br>
